body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 60px;
}

.center {
    text-align: justify;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: lighter;
}

.img-medium {
    height: 200px;
}

